VITE_SUPABASE_URL=https://hrqdfofhuezesvjwxfhj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhycWRmb2ZodWV6ZXN2and4ZmhqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI4MDMyODQsImV4cCI6MjA4ODM3OTI4NH0.2p7-hGLu39q-ZkcRLd-H8z13ae0OTe-7xl6uCNoTIW8
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhycWRmb2ZodWV6ZXN2and4ZmhqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjgwMzI4NCwiZXhwIjoyMDg4Mzc5Mjg0fQ.yd-d0HDe3sv1o9sTwlnZ9mN8u340JaR2Cx-JJDLnYoE
